# python 3.11.9 64-bit
# nvidia cuda 12.4.1: https://developer.nvidia.com/cuda-12-4-1-download-archive
--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.6.0
gradio==5.44.0
moviepy==2.1.2
fastapi==0.115.12
pydantic==2.11.0
pyannote.audio==3.3.2
faster-whisper==1.1.1
whisperx==3.4.2
